.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    // .header__container
    &__container {
        height: 60px;
        display: flex;
        align-items: center;
    }

    // .header__logo
    &__logo {
        display: flex;
        align-items: center;

        span {
            font-family: 'Manrope';
            line-height: calc(20.8/16);
            font-weight: 600px;
            margin: 0px 0px 0px 8px;
        }
    }

    // .header__menu
    &__menu {
        margin: 0px 0px 0px prc(116, $mw);
        flex: 1 1 auto;
    }

    // .header__tools
    &__tools {}
}

.menu {

    // .menu__icon
    &__icon {}

    // .menu__body
    &__body {}

    // .menu__list
    &__list {
        display: flex;
        align-items: center;
        gap: 40px;

        &>li {
            position: relative;
            padding: 10px 0;



        }
    }

    // .menu__link
    &__link {
        line-height: calc(24/16);

        &:hover {
            color: $blue;
        }

    }

    // .menu__sub-list
    &__sub-list {}

    // .menu__sub-link
    &__sub-link {}
}

.icon-menu {}

// tools
.tools-header {
    display: flex;
    align-items: center;

    // .tools-header__social
    &__social {}

    // .tools-header__language
    &__language {}
}


.social-header {

    // .social-header__watsup
    &__watsup {}

    // .social-header__telegram
    &__telegram {}
}

.language {

    // .language__list
    &__list {}

    // .language__link
    &__link {
        padding: 15px 0;
    }
}

.link {}

.popup {}